Repository 501stLegionA3/FiveOhFirstDataCore, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, startup, core, shared, database

.github/labeler.yml:

documentation:
- docs/**/*

startup:
- FiveOhFirstDataCore/**/*

core:
- FiveOhFirstDataCore.Core/**/*

shared:
- FiveOhFirstDataCore.Pages/**/*

database:
- FiveOhFirstDataCore/FiveOhFirstDataCore.Core/Database/**/*

Updated register process to redirect to the login page. Closes #129
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Login.cshtml
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Login.cshtml.cs
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Register.cshtml.cs
Labels: startup

Updated unregistered trooper search columns. Closes #128
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/UnregisteredAccounts.razor
Labels: startup

[skip ci] updated version number.
  FiveOhFirstDataCore/appsettings.json
Labels: startup

Add Acklay 1-3. Closes #139
  FiveOhFirstDataCore.Core/Data/Roster/OrbatData.cs
Labels: core

Add Big Brother to CShops. Closes #142
  FiveOhFirstDataCore.Core/Data/Enum/CShop.cs
Labels: core

Add all rank options to the rank sorting. Closes #141
  FiveOhFirstDataCore.Core/Structures/RosterSearch.cs
  FiveOhFirstDataCore.Pages/Roster/RosterListing.razor
Labels: core, shared

Add all rank options to the rank filtering. Closes #141
  FiveOhFirstDataCore.Core/Structures/RosterSearch.cs
  FiveOhFirstDataCore.Pages/Roster/RosterListing.razor
Labels: core, shared

Fix Indentation
  FiveOhFirstDataCore.Pages/Roster/RosterListing.razor
Labels: shared

[skip ci] Typo in contributing guidelines.
  CONTRIBUTING.md
Labels: none

Added promotions data to database objects.
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
Labels: core

Started work on promotion board files.
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
  FiveOhFirstDataCore/_Imports.razor
Labels: startup, core, shared

Added promotions service interface
  FiveOhFirstDataCore.Core/Services/IPromotionService.cs
Labels: core

Added inital promotions object.
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionBoardLevel.cs
Labels: core

More work into promotions
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: core

Fixed migration problems.
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionBoardRequirements.cs
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionRequirements.cs
  FiveOhFirstDataCore.Core/Migrations/20210713012543_Dev-Soyvolon-Promotions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713012543_Dev-Soyvolon-Promotions.cs
  FiveOhFirstDataCore.Core/Migrations/20210713194839_Dev-Soyvolon-PromotionsData.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713194839_Dev-Soyvolon-PromotionsData.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core

Started work on promotion board files.
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, core, shared

Added inital promotions object.
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
Labels: core

More work into promotions
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionBoardRequirements.cs
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionRequirements.cs
  FiveOhFirstDataCore.Core/Services/IPromotionService.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Structures/PromotionResult.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
Labels: core, shared

Lots of work into the promotion boards has been done.
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, core, shared

Spacing updates
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: core

Spacing updates
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: core

Updated nav menu to work with dynamic slot permissions.
  FiveOhFirstDataCore.Core/Data/Enum/Slot.cs
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core

Added promotions data to database objects.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210713012543_Dev-Soyvolon-Promotions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713012543_Dev-Soyvolon-Promotions.cs
Labels: core

Lots of work into the promotion boards has been done.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionBoardLevel.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210713054948_Dev-Soyvolon-Promotions-1.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713054948_Dev-Soyvolon-Promotions-1.cs
  FiveOhFirstDataCore.Core/Services/IPromotionService.cs
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Services/UpdateService.cs
  FiveOhFirstDataCore.Core/Structures/Updates/RankUpdate.cs
  FiveOhFirstDataCore.Pages/Data/Logging/UpdateDisplayTable.razor
  FiveOhFirstDataCore.Pages/Promotions/BatallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/_Imports.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/RosterClerkHome.razor
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, core, shared

More work into promotions
  FiveOhFirstDataCore.Core/Components/InputSelectSingleTrooper.cs
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionRequirements.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210713202838_Dev-Soyvolon-PromotionsData.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713202838_Dev-Soyvolon-PromotionsData.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerHome.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor
Labels: startup, core, shared

Fixed database problems after rebase.
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
Labels: core

Lots of work into the promotion boards has been done.
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, core, shared

Updated baords to include send promotion to attribute.
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
  FiveOhFirstDataCore.Core/Services/IPromotionService.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
Labels: core, shared

Fixed migration problems.
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionBoardRequirements.cs
  FiveOhFirstDataCore.Core/Migrations/20210713012543_Dev-Soyvolon-Promotions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713012543_Dev-Soyvolon-Promotions.cs
  FiveOhFirstDataCore.Core/Migrations/20210713194839_Dev-Soyvolon-PromotionsData.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713194839_Dev-Soyvolon-PromotionsData.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core

Lots of work into the promotion boards has been done.
  FiveOhFirstDataCore.Core/Migrations/20210713054948_Dev-Soyvolon-Promotions-1.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713054948_Dev-Soyvolon-Promotions-1.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Pages/Promotions/BatallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
Labels: startup, core, shared

Added all active units promotion boards.
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Roster/MynockHome.razor
  FiveOhFirstDataCore/Pages/Roster/RazorHome.razor
Labels: startup, core, shared

Crunching values to check if someone is valid for a promotion.
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionDetails.cs
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionRequirements.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Extensions/DateTImeExtensions.cs
  FiveOhFirstDataCore.Core/Migrations/20210720210002_Dev-Soyvolon-Promotions-And-Settings.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210720210002_Dev-Soyvolon-Promotions-And-Settings.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: core

More work into promotions
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionBoardRequirements.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: core

Started work on promotion board files.
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
Labels: shared

Got auto updating pages working for promotion boards.
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, shared

Finished touching up larger promotion board details.
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Pages/Promotions/BatallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
Labels: startup, core, shared

Added inital promotions object.
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
Labels: core

Fixed database problems after rebase.
  FiveOhFirstDataCore.Core/Services/NoticeService.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: core

Got auto updating pages working for promotion boards.
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore/Local/MainLayout.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeForm.razor
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, shared

Added promotions data to database objects.
  FiveOhFirstDataCore.Core/Migrations/20210713012543_Dev-Soyvolon-Promotions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713012543_Dev-Soyvolon-Promotions.cs
Labels: core
