Repository 501stLegionA3/FiveOhFirstDataCore, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, startup, core, shared, database

Updated report service framework and added database info.
  FiveOhFirstDataCore.Core/Account/Detail/TrooperReport.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Services/IReportService.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
Labels: startup, core, database

Final touches to the inital reports system.
  FiveOhFirstDataCore.Core/Services/INotificationService.cs
  FiveOhFirstDataCore.Core/Services/NotificationService.cs
  FiveOhFirstDataCore.Pages/Notice/NoticeBoard.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor.cs
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor
Labels: startup, core, shared

Added report to battalion checkbox and validated that slots are properly assigned.
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/IReportService.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor.cs
Labels: startup, core

Fixed spelling of today.
  FiveOhFirstDataCore.Core/Extensions/DateTImeExtensions.cs
Labels: core

Added alert service and test case.
  FiveOhFirstDataCore.Core/Data/Notice/NoticeLevel.cs
  FiveOhFirstDataCore.Core/Services/AlertService.cs
  FiveOhFirstDataCore.Core/Services/IAlertService.cs
  FiveOhFirstDataCore.Core/Structures/AlertData.cs
  FiveOhFirstDataCore.Pages/Notice/NoticeBoard.razor
  FiveOhFirstDataCore/App.razor
  FiveOhFirstDataCore/App.razor.cs
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
  FiveOhFirstDataCore/Startup.cs
  FiveOhFirstDataCore/_Imports.razor
Labels: startup, core, shared

Refactored to use IAlertService. Closes #197
  FiveOhFirstDataCore.Core/Services/AlertService.cs
  FiveOhFirstDataCore.Core/Services/IAlertService.cs
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor.cs
  FiveOhFirstDataCore.Pages/Misc/ErrorSuccessNotice.razor
  FiveOhFirstDataCore.Pages/Misc/ErrorSuccessNotice.razor.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore/App.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerEditMember.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor.cs
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeForm.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeHome.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperChangeRequest.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperChangeRequest.razor.cs
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor.cs
Labels: startup, core, shared

Trooper+ can now be promoted to CW. Closes #203
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
Labels: shared

Release prep.
  FiveOhFirstDataCore.Core/Migrations/20210906144553_Release-Soyvolon-Version-Zero-Eleven-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210906144553_Release-Soyvolon-Version-Zero-Eleven-Zero.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, core

initial refactor complete.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Pages/Roster/Placed/SquadDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/WardenDisplay.razor
Labels: core, shared

Refactor Complete ready for Bday Implementation.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Pages/Roster/Placed/CompanyStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/HailstormDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/MynockDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/MynockSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/PlatoonStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorFlightDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorFlightSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/SquadDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/WardenDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaCompanyStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaSquadDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaUtcSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaUtcSquadDisplay.razor
Labels: core, shared

.github/labeler.yml:

documentation:
- docs/**/*

startup:
- FiveOhFirstDataCore/**/*

core:
- FiveOhFirstDataCore.Core/**/*

shared:
- FiveOhFirstDataCore.Pages/**/*

database:
- FiveOhFirstDataCore.Core/Database/**/*
