Repository 501stLegionA3/FiveOhFirstDataCore, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, startup, core, pages, database

Completed Bday implementation for ORBAT Rosters awaiting furthing information for List Rosters.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
Labels: core

Code Cleanup
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Migrations/20210906144553_Release-Soyvolon-Version-Zero-Eleven-Zero.cs
  FiveOhFirstDataCore.Core/Migrations/20210906221206_Dev-Power-Bday.cs
Labels: core

added Cakes to trooper profile page
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: core, pages

Added Cake to Recruit Roster
  FiveOhFirstDataCore.Pages/Roster/Recruits/RecruitListingRow.razor
  FiveOhFirstDataCore/libman.json
Labels: startup, pages

Submit form now validates against validNewID and ValidNewNickname, ValidNewID validates against a 5 number birthnumber, GetInUserUserDataAsync includes Inactive Reserves, still excludes Archived.
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
Labels: startup, core

code cleanup closes #202 closes #201
  FiveOhFirstDataCore.Core/Migrations/20210906144553_Release-Soyvolon-Version-Zero-Eleven-Zero.cs
Labels: core

Added cakes to NavBar
  FiveOhFirstDataCore/Local/NavMenu.razor
Labels: startup

Corrected requested changes
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
Labels: startup

Notice Boards now properly delete Notices
  FiveOhFirstDataCore.Core/Services/INoticeService.cs
  FiveOhFirstDataCore.Core/Services/NoticeService.cs
  FiveOhFirstDataCore.Pages/Notice/NoticeBoard.razor
Labels: core, pages

Added padding for promotion boards closes #211
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore/wwwroot/css/site.css
Labels: startup, pages

adjusted padding
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore/wwwroot/css/site.css
Labels: startup, pages

Pre-release update.
  FiveOhFirstDataCore.Core/Migrations/20210913155029_Release-Soyvolon-Version-Zero-Twelve-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210913155029_Release-Soyvolon-Version-Zero-Twelve-Zero.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, core

fixed pending promotions being filtered out of Eligible promotions closes #208
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
Labels: core, pages

Updated to RC1
  FiveOhFirstDataCore.Core/Data/Import/OrbatImport.cs
  FiveOhFirstDataCore.Core/Data/Import/QualificationImport.cs
  FiveOhFirstDataCore.Core/Data/Import/SupportingElementsImport.cs
  FiveOhFirstDataCore.Core/Services/ImportService.cs
  FiveOhFirstDataCore.Core/Services/InitalAccountPopulationService.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor.cs
  FiveOhFirstDataCore.Pages/Notice/NoticeBoard.razor
  FiveOhFirstDataCore.Pages/Roster/Recruits/RecruitListing.razor.cs
  FiveOhFirstDataCore/Areas/Identity/IdentityHostingStartup.cs
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Login.cshtml.cs
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.cs
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Register.cshtml.cs
  FiveOhFirstDataCore/Areas/Identity/RevalidatingIdentityAuthenticationStateProvider.cs
  FiveOhFirstDataCore/Pages/Error.cshtml.cs
  FiveOhFirstDataCore/Pages/Index.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerEditMember.razor
  FiveOhFirstDataCore/Pages/Personnel/PersonnelHomepage.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeForm.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeHome.razor
  FiveOhFirstDataCore/Pages/Roster/AccessCodeGrants.razor
  FiveOhFirstDataCore/Program.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core, pages

Mved birth number to an independent column.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Components/InputSelectMultipleTrooper.cs
  FiveOhFirstDataCore.Core/Components/InputSelectSingleTrooper.cs
  FiveOhFirstDataCore.Core/Migrations/20210916220105_Dev-Soyvolon-BirthNumber.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210916220105_Dev-Soyvolon-BirthNumber.cs
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Roster/Recruits/RecruitListing.razor.cs
  FiveOhFirstDataCore.Pages/Roster/Recruits/RecruitListingRow.razor
  FiveOhFirstDataCore.Pages/Roster/RosterListing.razor
  FiveOhFirstDataCore.Pages/Roster/RosterListingRow.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerEditMember.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/UnregisteredAccounts.razor
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core, pages

Add birth numbers to InitialAccountPoplulationService.cs
  FiveOhFirstDataCore.Core/Services/InitalAccountPopulationService.cs
Labels: core

Add birth numbers to InitialAccountPoplulationService.cs
  FiveOhFirstDataCore.Core/Services/InitalAccountPopulationService.cs
Labels: core

Forgot a comma
  FiveOhFirstDataCore.Core/Services/InitalAccountPopulationService.cs
Labels: core

Make Profile data load
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: pages

Fixed Mynock not being able to see Section Promotion board. May need to tweak in the future. Closes #215
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: core

Updated nuget Packages and fixed Typo in RosterService
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
Labels: startup, core

added Imports.cs to each project for Global Using.
  FiveOhFirstDataCore.Core/Services/InitalAccountPopulationService.cs
  FiveOhFirstDataCore.Core/imports.cs
  FiveOhFirstDataCore.Pages/imports.cs
  FiveOhFirstDataCore/Startup.cs
  FiveOhFirstDataCore/imports.cs
Labels: startup, core, pages

Fixed Mynock not being able to see Section Promotion board. May need to tweak in the future. Closes #215
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: core

Corrected Mynock HQ Directory to direct to 400 rather than "" Adjusted check for GetMynockSectionDataAsync to allow for MynockHQ as well.
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/Pages/Roster/Directory/MynockDirectory.razor
Labels: startup, core

correct displaying multiple names by using GetRankName method in DisplayRankName
  FiveOhFirstDataCore.Core/Account/Trooper.cs
Labels: core

Typo
  FiveOhFirstDataCore.Core/Services/RosterUpdateService.cs
Labels: core

Fix Imports
  FiveOhFirstDataCore.Core/_Imports.cs
  FiveOhFirstDataCore.Pages/_Imports.cs
  FiveOhFirstDataCore/_Imports.cs
Labels: startup, core, pages

Revert "Updated nuget Packages and fixed Typo in RosterService"
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
Labels: startup, core

Revert "Updated nuget Packages and fixed Typo in RosterService"
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
Labels: startup, core

Fixed error in RosterService
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: core

Update to preview7 NpgSQL preview6
  FiveOhFirstDataCore.Core/FiveOhFirstDataCore.Core.csproj
  FiveOhFirstDataCore.Pages/FiveOhFirstDataCore.Pages.csproj
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
Labels: startup, core, pages

Updated trooper edit page. Closes #223
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
Labels: startup

.github/labeler.yml:

documentation:
- docs/**/*

startup:
- FiveOhFirstDataCore/**/*

core:
- FiveOhFirstDataCore.Core/**/*

pages:
- FiveOhFirstDataCore.Pages/**/*

database:
- FiveOhFirstDataCore.Core/Database/**/*
