Repository 501stLegionA3/FiveOhFirstDataCore, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, startup, data, components, database

Make edit trooper load claims tree when directly going to edit page
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
Labels: startup

Fixed login account error. #230
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Register.cshtml.cs
Labels: startup

Fixed improper starting roles for new troopers. Closes #231
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: data

[skip ci] version number update.
  FiveOhFirstDataCore/appsettings.json
Labels: startup

Add summaries to some of the role enums
  FiveOhFirstDataCore.Core/Structures/Enum/Role.cs
Labels: data

Start working on trooper page redesign
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.css
Labels: components

Add/Implement GetDirectSuperior
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: data

Make changes to PublicTrooperProfile
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.css
Labels: components

Add helper methods to Slot enum
  FiveOhFirstDataCore.Core/Structures/Enum/Slot.cs
Labels: data

Cleanup code and add helper items
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.cs
Labels: components

Fixes after merge
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.cs
  FiveOhFirstDataCore.Pages/FiveOhFirstDataCore.Components.csproj
Labels: components

Update Comments
  FiveOhFirstDataCore.Core/Structures/Enum/Role.cs
Labels: data

Change default superior
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: components

Add Extensions
  FiveOhFirstDataCore.Core/Structures/Enum/Slot.cs
Labels: data

Finish GetDirectSuperior
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: data

Change ID for birthnumber
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: components

Update README.md
  README.md
Labels: none

Fixed naming. Closes #235
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/ForgotPassword.cshtml
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Login.cshtml.cs
Labels: startup

Fixed birth number errors. Closes #234
  FiveOhFirstDataCore.Core/Account/TrooperSignInManager.cs
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/ForgotPassword.cshtml.cs
Labels: startup, data

IsAcceptable
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor.cs
Labels: startup

Fixed broken nameing
  FiveOhFirstDataCore.Core/FiveOhFirstDataCore.Data.csproj
  FiveOhFirstDataCore.Core/Migrations/20210918150810_Dev-Soyvolon-Policies.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210918150810_Dev-Soyvolon-Policies.cs
  FiveOhFirstDataCore.Core/Structures/PolicySectionResult.cs
Labels: data

Started work on updating the website settings service.
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210918150810_Dev-Soyvolon-Policies.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210918150810_Dev-Soyvolon-Policies.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Structures/Auth/DynamicPolicyAuthorizationPolicyBuilder.cs
  FiveOhFirstDataCore.Core/Structures/Policy/DynamicPolicy.cs
  FiveOhFirstDataCore.Core/Structures/Policy/PolicyClaimData.cs
  FiveOhFirstDataCore.Core/Structures/Policy/PolicySection.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, data, database

More work into the website settings
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Structures/PolicySectionResult.cs
Labels: data

First pair of working dynamic policies complete.
  FiveOhFirstDataCore.Core/Account/WebsiteRoles.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210919175111_Dev-Soyvolon-Policies.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210919175111_Dev-Soyvolon-Policies.cs
  FiveOhFirstDataCore.Core/Services/AlertService.cs
  FiveOhFirstDataCore.Core/Services/DataCoreAuthorizationPolicyProvider.cs
  FiveOhFirstDataCore.Core/Services/IAlertService.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Structures/Policy/DynamicPolicy.cs
  FiveOhFirstDataCore.Core/Structures/Policy/PolicySection.cs
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeView.razor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeView.razor.cs
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeViewTools.razor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeViewTools.razor.cs
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeViewTools.razor.css
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicyEditor.razor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicyEditor.razor.cs
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicySectionEditor.razor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicySectionEditor.razor.cs
  FiveOhFirstDataCore/App.razor
  FiveOhFirstDataCore/App.razor.cs
  FiveOhFirstDataCore/App.razor.css
  FiveOhFirstDataCore/Pages/Index.razor
Labels: startup, data, components, database

Prep 3
  FiveOhFirstDataCore.Core/Migrations/20210919175111_Dev-Soyvolon-Policies.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210919175111_Dev-Soyvolon-Policies.cs
Labels: data

Privated the edit tools to managers
  FiveOhFirstDataCore.Core/Migrations/20210925145107_Dev-Soyvolon-Permissions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210925145107_Dev-Soyvolon-Permissions.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeViewTools.razor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeViewTools.razor.cs
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicyEditor.razor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicySectionEditor.razor
Labels: data, components

Added manager pages for dynamic permissions.
  FiveOhFirstDataCore.Core/Components/ModalDisplay.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicyEditor.razor.cs
  FiveOhFirstDataCore.Pages/Data/Auth/WebsitePolicyView.razor
  FiveOhFirstDataCore.Pages/Data/Auth/WebsitePolicyView.razor.cs
  FiveOhFirstDataCore.Pages/Data/Auth/WebsiteSectionView.razor
  FiveOhFirstDataCore.Pages/Data/Auth/WebsiteSectionView.razor.cs
  FiveOhFirstDataCore/Pages/Manager/ManagerAccessSettings.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerAccessSettings.razor.cs
  FiveOhFirstDataCore/Pages/Manager/ManagerHome.razor
  FiveOhFirstDataCore/_Imports.razor
Labels: startup, data, components

Added C-Shop value adding to the claim editor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicyEditor.razor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicyEditor.razor.cs
Labels: components

Moved all access over to dynamic permissions that need it.
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor
  FiveOhFirstDataCore.Pages/Roster/RosterListing.razor
  FiveOhFirstDataCore.Pages/Roster/RosterListingRow.razor
  FiveOhFirstDataCore.Pages/_Imports.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerDataImport.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerEditMember.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/RecruiterHome.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/UnregisteredAccounts.razor
  FiveOhFirstDataCore/Pages/Personnel/Returning/ReturningMemberStaffHome.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/RosterClerkHome.razor
  FiveOhFirstDataCore/Pages/Recruits/CRCListing.razor
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/MynockHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/RazorHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperChangeRequest.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor
  FiveOhFirstDataCore/_Imports.razor
Labels: startup, components

Started moving permission over.
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Index.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerAllLogs.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerDataImport.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerEditMember.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerHome.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor
  FiveOhFirstDataCore/Pages/Personnel/PersonnelHomepage.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeForm.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeHome.razor
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/MynockHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
Labels: startup

Quality of life updates.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Migrations/20210926005513_Dev-Soyvolon-Permissions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210926005513_Dev-Soyvolon-Permissions.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeView.razor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeView.razor.cs
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Manage/ManageNavPages.cs
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Manage/Management.cshtml
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Manage/Management.cshtml.cs
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
Labels: startup, data, components

[skip ci] added XML documentation
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
Labels: data

Release Prep (whoops)
  FiveOhFirstDataCore.Core/Migrations/20210927154602_Release-Soyvolon-Version-Zero-Fourteen-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210927154602_Release-Soyvolon-Version-Zero-Fourteen-Zero.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, data

Fixed naming error
  FiveOhFirstDataCore/Local/NavMenu.razor
Labels: startup

Updated public action.
  .github/workflows/publish.yml
Labels: none

Change display value for quals in PublicTrooperProfile
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: components

Reversed TiG and TiS, Fixes #247
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.cs
Labels: components

Updated edit procedure. Closes #242
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: data

Fixed update or add error.
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: data

Fixed dynamic policy delete. Closes #243
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20211001213946_Dev-Soyvolon-DeletePolicy.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20211001213946_Dev-Soyvolon-DeletePolicy.cs
Labels: data, database

.github/labeler.yml:

documentation:
- docs/**/*

startup:
- FiveOhFirstDataCore/**/*

data:
- FiveOhFirstDataCore.Core/**/*

components:
- FiveOhFirstDataCore.Pages/**/*

database:
- FiveOhFirstDataCore.Core/Database/**/*
