Repository 501stLegionA3/FiveOhFirstDataCore, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, startup, core, shared, database

.github/labeler.yml:

documentation:
- docs/**/*

startup:
- FiveOhFirstDataCore/**/*

core:
- FiveOhFirstDataCore.Core/**/*

shared:
- FiveOhFirstDataCore.Pages/**/*

database:
- FiveOhFirstDataCore/FiveOhFirstDataCore.Core/Database/**/*

Fixed nullability
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/RazorPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
Labels: shared

More work into promotions
  FiveOhFirstDataCore.Core/Migrations/20210713194839_Dev-Soyvolon-PromotionsData.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713194839_Dev-Soyvolon-PromotionsData.cs
Labels: core

Updated baords to include send promotion to attribute.
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
Labels: shared

Added promotions data to database objects.
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
Labels: core

Added inital promotions object.
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
Labels: core

Started work on the warden, mynock, and razor promotion boards.
  FiveOhFirstDataCore.Pages/Promotions/MynockPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/RazorHome.razor
Labels: startup, shared

Started work on the warden, mynock, and razor promotion boards.
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionBoardLevel.cs
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Pages/Promotions/MynockPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/RazorPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/RazorHome.razor
Labels: startup, core, shared

Finished touching up larger promotion board details.
  FiveOhFirstDataCore.Pages/Promotions/BatallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
Labels: startup, shared

More work into promotions
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
Labels: core

Added board labeling
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/RazorPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/MynockHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/RazorHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, shared

Started work on promotion board files.
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
Labels: shared

Added null check for a promotion value.
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
Labels: core

Updated nav menu to work with dynamic slot permissions.
  FiveOhFirstDataCore/Startup.cs
Labels: startup

Added all active units promotion boards.
  FiveOhFirstDataCore.Pages/Promotions/MynockPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore/Pages/Roster/RazorHome.razor
Labels: startup, shared

Added inital files for manager settings edit pages.
  FiveOhFirstDataCore.Pages/Data/Settings/CShopClaimSettingDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Settings/PromotionRequirementSettingDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Settings/RoleBindingSettingDisplay.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor
  FiveOhFirstDataCore/_Imports.razor
Labels: startup, shared

Fixed merge errors.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Migrations/20210727140026_Dev-Soyvolon-Promotions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210727140026_Dev-Soyvolon-Promotions.cs
  FiveOhFirstDataCore.Core/Services/IPromotionService.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
  FiveOhFirstDataCore.Pages/_Imports.razor
Labels: core, shared

Removed migrations for rebase.
  FiveOhFirstDataCore.Core/Migrations/20210720210002_Dev-Soyvolon-Promotions-And-Settings.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210720210002_Dev-Soyvolon-Promotions-And-Settings.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
Labels: core

Added C-Shop claim management tools for maangers.
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Data/Settings/CShopClaimDataDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Settings/CShopClaimSettingDisplay.razor
Labels: core, shared

Added override updates to update the claim tree.
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: core

Added bootstrap js
  FiveOhFirstDataCore/Pages/_Host.cshtml
  FiveOhFirstDataCore/wwwroot/js/bootstrap.bundle.min.js
Labels: startup

Fixed promotion information bug.
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionDetails.cs
Labels: core

Added big brother to claims tree.
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: core

Moved discord role bindings to website settings service.
  FiveOhFirstDataCore.Core/Data/Enum/Rank.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210802160647_Dev-Soyvolon-Promotions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210802160647_Dev-Soyvolon-Promotions.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/DataCoreAuthorizationPolicyProvider.cs
  FiveOhFirstDataCore.Core/Services/DiscordService.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Structures/CShopRoleBinding.cs
  FiveOhFirstDataCore.Core/Structures/DiscordBotConfiguration.cs
  FiveOhFirstDataCore.Core/Structures/DiscordRoleDetails.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core

Fixed odd behaviour with promotion buttons.
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
Labels: shared

Updated promotion boards to support Zeta.
  FiveOhFirstDataCore.Core/Data/Enum/Slot.cs
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Structures/GetTrooperDataResult.cs
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, core, shared

A mix. Moved permissions (claims) over to website settings service and dynamic settings. Added pending promotions framework (untested).
  FiveOhFirstDataCore.Core/Data/Enum/CShop.cs
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionDetails.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/FiveOhFirstDataCore.Core.csproj
  FiveOhFirstDataCore.Core/Migrations/20210707172121_PhaseOneInit.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210707172121_PhaseOneInit.cs
  FiveOhFirstDataCore.Core/Migrations/20210712014854_Release-Soyvolon-Version-Zero-Two-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210712014854_Release-Soyvolon-Version-Zero-Two-Zero.cs
  FiveOhFirstDataCore.Core/Migrations/20210713190623_Release-Soyvolon-Version-Zero-Four-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210726153504_Release-Soyvolon-Version-Zero-Five-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210727194610_Dev-Soyvolon-Promotions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210727194610_Dev-Soyvolon-Promotions.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/DataCoreAuthorizationPolicyProvider.cs
  FiveOhFirstDataCore.Core/Services/IPromotionService.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/ImportService.cs
  FiveOhFirstDataCore.Core/Services/NoticeService.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
  FiveOhFirstDataCore.Core/Services/RosterPermissionsService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Structures/Auth/WebsiteSettingsAuthorizationPolicyBuilder.cs
  FiveOhFirstDataCore.Core/Structures/CShopClaim.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
  FiveOhFirstDataCore/Program.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core, shared

Hides eligible promotions for troopers who have a promotion pending.
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
Labels: core, shared

Added Promotion Requirements table. Closes #134
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionDetails.cs
  FiveOhFirstDataCore.Core/Migrations/20210803155951_Dev-Soyvolon-Promotions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210803155951_Dev-Soyvolon-Promotions.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/DiscordService.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Data/Settings/InputRequiredBilletSelector.razor
  FiveOhFirstDataCore.Pages/Data/Settings/PromotionRequirementDataDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Settings/PromotionRequirementSettingDisplay.razor
  FiveOhFirstDataCore.Pages/Misc/StaticIntegerInputList.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor
Labels: startup, core, shared

Gave access for RTOs and Medics to promote within their CoC
  FiveOhFirstDataCore.Core/Data/Enum/PromotionType.cs
  FiveOhFirstDataCore.Core/Extensions/IListExtensions.cs
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
Labels: core, shared

Updated acklay platoon promotion boards to work as a company board.
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionBoardLevel.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
Labels: startup, core, shared

Fixed eligibile promotions formatting.
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
Labels: shared

Added missing cascding values for CanPromoteValues.
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/RazorPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
Labels: shared

Updated eligible for promotion listing to include reason field for raise for promotion option.
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
Labels: shared

Locked promotion board data behind trooper accounts.
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/MynockHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/RazorHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, core

Updated nav menu for easier organzation.
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Local/NavMenu.razor.css
Labels: startup

Fixed dud links referenced in #130 [skip ci]]
  docs/_media/recruiting/home_recruiting.png
  docs/_sidebar.md
  docs/c1/c1-home.md
  docs/c1/recruiting.md
  docs/leadership/.nojekyll
  docs/leadership/_sidebar.md
  docs/leadership/lead-home.md
Labels: documentation

Added rosters to My Squad/Platoon/Company/etc. pages.
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Structures/GetTrooperDataResult.cs
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaSquadDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaUtcSquadDisplay.razor
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/MynockHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/RazorHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
  FiveOhFirstDataCore/_Imports.razor
Labels: startup, core, shared

Fixed invalid null checking for Razor, Warden, and Mynock.
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/RazorPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
Labels: shared

Updated promotion boards to include warnings for troopers who do not meet requirements.
  FiveOhFirstDataCore.Core/Data/Promotions/Promotion.cs
  FiveOhFirstDataCore.Core/Migrations/20210807190237_Dev-Soyvolon-Promotions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210807190237_Dev-Soyvolon-Promotions.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/IPromotionService.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/_Imports.razor
Labels: core, shared

Fixed login menu not working for signed out users.
  FiveOhFirstDataCore/Local/NavMenu.razor
Labels: startup
