Repository 501stLegionA3/FiveOhFirstDataCore, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, startup, core, shared, database

Fix Razor pilot requiring a team. Closes #153
  FiveOhFirstDataCore.Core/Data/Roster/Orbat/RazorFlightData.cs
Labels: core

Fix Mission Builder Builder bug. Closes #68
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: shared

Version Update 0.7.0 [skip ci]
  docs/_sidebar.md
  docs/c1/_sidebar.md
  docs/leadership/_sidebar.md
Labels: documentation

Change Management Push for #126 [skip ci]
  docs/_media/trooper-edit/overwrite-changes.png
  docs/_media/trooper-edit/overwrite-message.png
  docs/_media/trooper-edit/save-changes.png
  docs/c1/editing-troopers.md
  docs/roster.md
Labels: documentation

Promotion Board Update for #149 [skip ci]
  docs/README.md
  docs/_media/promotions/forced-overview.png
  docs/_media/promotions/promotion-overview.png
  docs/_sidebar.md
  docs/c1/editing-troopers.md
  docs/leadership/_sidebar.md
  docs/leadership/lead-home.md
  docs/leadership/promotions.md
Labels: documentation

Updated nuget packages.
  FiveOhFirstDataCore.Core/FiveOhFirstDataCore.Core.csproj
  FiveOhFirstDataCore.Pages/FiveOhFirstDataCore.Pages.csproj
Labels: core, shared

Removed archived troopers from the unregistered troopers list. Closes #158
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: core

Updated bootstrap to v5.1.0 - Closes #146
  FiveOhFirstDataCore/wwwroot/css/bootstrap/bootstrap.min.css
  FiveOhFirstDataCore/wwwroot/js/bootstrap.bundle.min.js
Labels: startup

Implemented Archived website role. Closes #159
  FiveOhFirstDataCore.Core/Account/WebsiteRoles.cs
  FiveOhFirstDataCore.Core/Services/DataCoreAuthorizationPolicyProvider.cs
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core

Updated version for release.
  FiveOhFirstDataCore.Core/Migrations/20210809135628_Release-Soyvolon-Version-Zero-Seven-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210809135628_Release-Soyvolon-Version-Zero-Seven-Zero.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, core

Add description data to database objects
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210809174634_Dev-Thunder-TrooperDescriptions.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210809174634_Dev-Thunder-TrooperDescriptions.cs
  FiveOhFirstDataCore.Core/Structures/TrooperDescription.cs
Labels: core

Fixed error where require recruiter does not let managers in.
  FiveOhFirstDataCore.Core/Services/DataCoreAuthorizationPolicyProvider.cs
Labels: core

[skip ci] updated version number
  FiveOhFirstDataCore/appsettings.json
Labels: startup

Fixed promotions not completeling automatically when the current board is higher or equal to the needed board.
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
Labels: core

Fixed mynock null error and added claim based checks for promotions.
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/RazorPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/MynockHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, shared

Fixed missing promotions and filtered out trooper to warrant officer promotions.
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
Labels: core, shared

Fixed filtering for CW promotions
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: core

C-Shop XO Spelling Correction
  FiveOhFirstDataCore.Pages/Roster/Placed/HailstormDisplay.razor
Labels: shared

Spelling Correction
  FiveOhFirstDataCore.Pages/Roster/Placed/HailstormDisplay.razor
Labels: shared

Fixed slot for battalion.
  FiveOhFirstDataCore/Pages/Roster/BattalionHome.razor
Labels: startup

Updated batallion promotion board. Closes #163
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
Labels: shared

Fixed missing warden info on Razor homepage. Closes #161
  FiveOhFirstDataCore/Pages/Roster/RazorHome.razor
Labels: startup

Fixed invalid is platoon check. Closes #164
  FiveOhFirstDataCore.Core/Data/Enum/Slot.cs
Labels: core

Updated promotion boards to place promotions on their board instead of approving them for the next board. Closes #168
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/RazorPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
Labels: core, shared

Added service documentation. Closes #160
  FiveOhFirstDataCore.Core/Services/IAdvancedRefreshService.cs
  FiveOhFirstDataCore.Core/Services/IDiscordService.cs
  FiveOhFirstDataCore.Core/Services/INicknameComparisonService.cs
  FiveOhFirstDataCore.Core/Services/INoticeService.cs
  FiveOhFirstDataCore.Core/Services/IPromotionService.cs
  FiveOhFirstDataCore.Core/Services/IRefreshRequestService.cs
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/IUpdateService.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/PromotionService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/Pages/Roster/CompanyHome.razor
  FiveOhFirstDataCore/Pages/Roster/MynockHome.razor
  FiveOhFirstDataCore/Pages/Roster/PlatoonHome.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, core

Implement trooper descriptions. Closes #143
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: core, shared

Update IRosterService code comments.
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
Labels: core

Did code cleanup for the pagination model and added code comments.
  FiveOhFirstDataCore.Core/Components/Base/PaginationModel.cs
  FiveOhFirstDataCore.Pages/Misc/PaginationController.razor
Labels: core, shared

Added a notice about slot/rank changes without updating TiG or TiB. Closes #171
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
Labels: startup

[skip ci] fixed version number.
  FiveOhFirstDataCore/appsettings.json
Labels: startup

Fixed boolean logic error. Closes #173
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
Labels: shared

Closes #176 - fixed non-linear promotion displays.
  FiveOhFirstDataCore.Core/Data/Promotions/PromotionDetails.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: core

Added recruit display pages. Closes #177
  FiveOhFirstDataCore.Core/Account/RecruitStatus.cs
  FiveOhFirstDataCore.Core/Data/Enum/PreferredRole.cs
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Structures/NewTrooperData.cs
  FiveOhFirstDataCore.Core/Structures/Search/RecruitSearch.cs
  FiveOhFirstDataCore.Core/Structures/Search/RosterSearch.cs
  FiveOhFirstDataCore.Pages/Roster/Recruits/RecruitListing.razor
  FiveOhFirstDataCore.Pages/Roster/Recruits/RecruitListing.razor.cs
  FiveOhFirstDataCore.Pages/Roster/Recruits/RecruitListing.razor.css
  FiveOhFirstDataCore.Pages/Roster/Recruits/RecruitListingRow.razor
  FiveOhFirstDataCore.Pages/Roster/Recruits/RecruitListingRow.razor.cs
  FiveOhFirstDataCore.Pages/_Imports.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Recruits/CRCListing.razor
  FiveOhFirstDataCore/Pages/Recruits/CRCListing.razor.cs
  FiveOhFirstDataCore/_Imports.razor
Labels: startup, core, shared

started work on epar data.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Account/TrooperChangeRequest.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210813160438_Dev-Soyvolon-EPAR.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210813160438_Dev-Soyvolon-EPAR.cs
Labels: core

Added epar listing page, and roster clerk approval/deny page.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Account/TrooperChangeRequestData.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210822152525_Dev-Soyvolon-EPAR.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210822152525_Dev-Soyvolon-EPAR.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/EparService.cs
  FiveOhFirstDataCore.Core/Services/IEparService.cs
  FiveOhFirstDataCore.Pages/Misc/ChangeRequestData.razor
  FiveOhFirstDataCore.Pages/Misc/ChangeRequestData.razor.cs
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor.cs
  FiveOhFirstDataCore/Pages/Utility/TrooperChangeRequest.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperChangeRequest.razor.cs
  FiveOhFirstDataCore/wwwroot/css/site.css
Labels: startup, core, shared

Added eitor form and utility menu.
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Account/TrooperChangeRequestData.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210814210608_Dev-Soyvolon-epar.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210814210608_Dev-Soyvolon-epar.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperChangeRequest.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperChangeRequest.razor.cs
Labels: startup, core

Minor code updates.
  FiveOhFirstDataCore.Core/Services/EparService.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core

Started work on the EPAR service.
  FiveOhFirstDataCore.Core/Services/IEparService.cs
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor.cs
Labels: startup, core

Added ease of access utlities (buttons, breadcrumbs, etc.)
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor.cs
  FiveOhFirstDataCore/Pages/Personnel/Roster/RosterClerkHome.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperChangeRequest.razor.cs
Labels: startup

More work into epar
  FiveOhFirstDataCore.Core/Account/TrooperChangeRequestData.cs
  FiveOhFirstDataCore.Core/Services/EparService.cs
  FiveOhFirstDataCore.Core/Services/IEparService.cs
Labels: core

.github/labeler.yml:

documentation:
- docs/**/*

startup:
- FiveOhFirstDataCore/**/*

core:
- FiveOhFirstDataCore.Core/**/*

shared:
- FiveOhFirstDataCore.Pages/**/*

database:
- FiveOhFirstDataCore/FiveOhFirstDataCore.Core/Database/**/*
