Repository 501stLegionA3/FiveOhFirstDataCore, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, startup, data, components, database

.github/labeler.yml:

documentation:
- docs/**/*

startup:
- FiveOhFirstDataCore/**/*

data:
- FiveOhFirstDataCore.Core/**/*

components:
- FiveOhFirstDataCore.Pages/**/*

database:
- FiveOhFirstDataCore.Core/Database/**/*

Fixed change C-Shop selection errors. Closes #244
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicyEditor.razor
Labels: components

Added close button for policy editor screen from gobal policy page.
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicyEditor.razor
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicPolicyEditor.razor.cs
  FiveOhFirstDataCore.Pages/Data/Auth/WebsitePolicyView.razor
Labels: components

[skip ci] actually running the command on the server.
  .github/workflows/publish.yml
Labels: none

Fixed inacurrate DAY(S) display for roster listing. Closes #250
  FiveOhFirstDataCore.Pages/Roster/RosterListingRow.razor
Labels: components

Release Prep
  FiveOhFirstDataCore.Core/Migrations/20211003185817_Release-Soyvolon-Version-Zero-Fifteen-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20211003185817_Release-Soyvolon-Version-Zero-Fifteen-Zero.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, data

Removed use of URL in the policy name for dynamic authorize view. Closes #251
  FiveOhFirstDataCore.Pages/Data/Auth/DynamicAuthorizeView.razor.cs
Labels: components

Updated code based authentication to use dyanmic policies.
  FiveOhFirstDataCore.Pages/Data/Import/QualificationImportDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Import/RosterDataImportDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Import/SupportingElementsImportDisplay.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerEditMember.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/UnregisteredAccounts.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeForm.razor
Labels: startup, components

Release Prep!
  FiveOhFirstDataCore.Core/Migrations/20211004153448_Release-Soyvolon-Verseion-Zero-Fourteen-Two.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20211004153448_Release-Soyvolon-Verseion-Zero-Fourteen-Two.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, data

[skip ci] fixed my horrid spelling
  .github/workflows/publish.yml
Labels: none

Added missing reload policy cahce calls.
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: data

[skip ci] version update.
  FiveOhFirstDataCore/appsettings.json
Labels: startup

Remove duplicate in _Imports.razor
  FiveOhFirstDataCore.Pages/_Imports.razor
Labels: components

Add more extensions to Slot enum
  FiveOhFirstDataCore.Core/Structures/Enum/Slot.cs
Labels: data

Add rank display to superior and fix #252
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: components

Init
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Data/Settings/RoleBindingSettingDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Settings/RoleBindingSettingDisplay.razor.cs
Labels: data, components

[skip ci] Readme Update
  README.md
Labels: none

Implemented website settings role binding methods.
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
Labels: data

Added Database hosted Profile Pictures
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Migrations/20211009202526_dev-hob-pfp.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20211009202526_dev-hob-pfp.cs
  FiveOhFirstDataCore.Core/Services/IUploadService.cs
  FiveOhFirstDataCore.Core/Services/UploadService.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.css
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Utility/UploadPFP.razor
  FiveOhFirstDataCore/Pages/Utility/UploadPFP.razor.cs
  FiveOhFirstDataCore/Pages/Utility/UploadPFP.razor.css
  FiveOhFirstDataCore/Startup.cs
Labels: startup, data, components

Finalized work on Discord Role Bindings.
  FiveOhFirstDataCore.Core/Components/InputUlong.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/FiveOhFirstDataCore.Data.csproj
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/DiscordService.cs
  FiveOhFirstDataCore.Core/Services/IDiscordService.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Data/Settings/RoleBindingSettingDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Settings/RoleBindingSettingDisplay.razor.cs
  FiveOhFirstDataCore.Pages/Misc/StaticDiscordRoleInputList.razor
  FiveOhFirstDataCore.Pages/Misc/StaticDiscordRoleInputList.razor.cs
Labels: data, components, database

Fixed NuGet package error
  FiveOhFirstDataCore.Core/FiveOhFirstDataCore.Data.csproj
Labels: data
