Repository 501stLegionA3/FiveOhFirstDataCore, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, startup, core, shared, database

.github/labeler.yml:

documentation:
- docs/**/*

startup:
- FiveOhFirstDataCore/**/*

core:
- FiveOhFirstDataCore.Core/**/*

shared:
- FiveOhFirstDataCore.Pages/**/*

database:
- FiveOhFirstDataCore/FiveOhFirstDataCore.Core/Database/**/*

V 0.2.0 (Recruiter Page Updated) Issue 79 [skip ci]
  docs/_media/recruiting/new_recruit_form.png
  docs/_media/recruiting/unregistered_troopers.png
  docs/c1/recruiting.md
Labels: documentation

V 0.2.0 (Updated Trooper Edit Page) Issue #80 [skip ci]
  docs/_media/trooper-edit/mp-info.png
  docs/c1/editing-troopers.md
Labels: documentation

V 0.2.0 (Updated Login Docs) Issue #83 [skip ci]]
  docs/_media/register/dashboard_button.png
  docs/_media/register/login-button.png
  docs/register-account.md
Labels: documentation

Doc Version Update V 0.2.0 [skip ci]
  docs/_sidebar.md
  docs/c1/_sidebar.md
Labels: documentation

Hid a lot of data from the manager edit from when editing the Admin account.
  FiveOhFirstDataCore/Pages/Manager/ManagerEditMember.razor
Labels: startup

[skip ci] updated version number
  FiveOhFirstDataCore/appsettings.json
Labels: startup

Added release migration and bumbed version up to 0.4.0 due to database changes.
  FiveOhFirstDataCore.Core/Migrations/20210713190623_Release-Soyvolon-Version-Zero-Four-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210713190623_Release-Soyvolon-Version-Zero-Four-Zero.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, core

[skip ci] fixed version number bump
  FiveOhFirstDataCore/appsettings.json
Labels: startup

Prevented admin account from showing in get all troopers unless explicitly specified.
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: core

Updated interface to fix errors
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: core

Moved preffered role selection to a custom enum. Closes #99
  FiveOhFirstDataCore.Core/Account/RecruitStatus.cs
  FiveOhFirstDataCore.Core/Data/Enum/PrefferedRole.cs
  FiveOhFirstDataCore.Core/Structures/NewTrooperData.cs
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
Labels: startup, core

Removed old folders.
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
Labels: startup

Cleanned up IRefreshRequestService
  FiveOhFirstDataCore.Pages/Data/Import/QualificationImportDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Import/RosterDataImportDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Import/SupportingElementsImportDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/RosterListing.razor
Labels: shared

V 0.3.0 Sidebar Reorg, Roster Page [skip ci]
  docs/_sidebar.md
  docs/roster.md
Labels: documentation

V 0.3.0 Roster Page Update
  docs/_media/roster/tab-display.png
  docs/roster.md
Labels: documentation

Revert "V 0.3.0 Roster Page Update"
  docs/_media/roster/tab-display.png
  docs/roster.md
Labels: documentation

V 0.3.0 Roster Page Update [skip ci]
  docs/_media/roster/tab-display.png
  docs/roster.md
Labels: documentation

Updated dbcontext usage and added advanced refresh service. Closes #97
  FiveOhFirstDataCore.Core/Account/AccountLinkService.cs
  FiveOhFirstDataCore.Core/Components/Base/IRefreshBase.cs
  FiveOhFirstDataCore.Core/Components/Base/PaginationModel.cs
  FiveOhFirstDataCore.Core/Data/Enum/RefreshRequestValues.cs
  FiveOhFirstDataCore.Core/Services/AdvancedRefreshService.cs
  FiveOhFirstDataCore.Core/Services/IAdvancedRefreshService.cs
  FiveOhFirstDataCore.Core/Services/INoticeService.cs
  FiveOhFirstDataCore.Core/Services/ImportService.cs
  FiveOhFirstDataCore.Core/Services/NicknameComparisionService.cs
  FiveOhFirstDataCore.Core/Services/NoticeService.cs
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Services/UpdateService.cs
  FiveOhFirstDataCore.Pages/Data/Import/QualificationImportDisplay.razor
  FiveOhFirstDataCore.Pages/Notice/NoticeBoard.razor
  FiveOhFirstDataCore/Local/MainLayout.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeForm.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/RosterClerkHome.razor
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core, shared

Fixed some DB logic errors.
  FiveOhFirstDataCore.Core/Services/IUpdateService.cs
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
  FiveOhFirstDataCore.Core/Services/UpdateService.cs
  FiveOhFirstDataCore/Pages/Personnel/Returning/ReturningMemberStaffHome.razor
Labels: startup, core

V 0.3.0 Roster Page, Version Update. [skip ci]
  docs/_media/roster/hq-display.png
  docs/_media/roster/roster-display.png
  docs/_media/roster/search-display.png
  docs/_media/roster/squad-display.png
  docs/_sidebar.md
  docs/c1/_sidebar.md
  docs/roster.md
Labels: documentation

Fixed bad image display for roster.md
  docs/roster.md
Labels: documentation

[skip ci] updated version numbers.
  FiveOhFirstDataCore/appsettings.json
  docs/_sidebar.md
  docs/c1/_sidebar.md
Labels: documentation, startup

Added razor FOIC. Closes #108
  FiveOhFirstDataCore.Core/Data/Enum/Role.cs
  FiveOhFirstDataCore.Core/Data/Roster/Orbat/RazorSquadronData.cs
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorDisplay.razor
Labels: core, shared

Fixed paignation errors. Closes #104
  FiveOhFirstDataCore.Pages/Data/Logging/UpdateDisplayTable.razor
  FiveOhFirstDataCore.Pages/Misc/PaginationController.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/RecruiterHome.razor
  FiveOhFirstDataCore/Pages/Personnel/Returning/ReturningMemberStaffHome.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/RosterClerkHome.razor
Labels: startup, shared

Added advanced refresh to dynamically update the Roster pages on edits. Closes #110
  FiveOhFirstDataCore.Core/Data/Enum/RefreshRequestValues.cs
  FiveOhFirstDataCore.Core/Services/AdvancedRefreshService.cs
  FiveOhFirstDataCore.Core/Services/IAdvancedRefreshService.cs
  FiveOhFirstDataCore.Pages/Roster/ActiveRosterDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/FullRosterDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/InactiveReservesDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/OrbatDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/ZetaOrbatDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/ZetaRosterDisplay.razor
  FiveOhFirstDataCore/Local/MainLayout.razor
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
  FiveOhFirstDataCore/Pages/Personnel/Roster/NameChangeForm.razor
Labels: startup, core, shared

Added merge checks for the roster edit form. Closes #109
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Components/InputCShopFlagSelect.cs
  FiveOhFirstDataCore.Core/Components/InputQualificationFlagSelect.cs
  FiveOhFirstDataCore.Core/Migrations/20210723160723_Dev-Soyvolon-UpdateChecks.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210723160723_Dev-Soyvolon-UpdateChecks.cs
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
  FiveOhFirstDataCore.Core/Structures/TrooperUpdateConflicts.cs
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
Labels: startup, core

Added updated warden data for roster. Closes #102
  FiveOhFirstDataCore.Core/Data/Enum/Slot.cs
  FiveOhFirstDataCore.Core/Data/Roster/Orbat/WardenData.cs
  FiveOhFirstDataCore.Core/Data/Roster/Orbat/WardenSection.cs
  FiveOhFirstDataCore.Pages/Roster/Placed/WardenDisplay.razor
Labels: core, shared

Fixed incorrect label for Juniorlieutenant in Pilot Ranks.
  FiveOhFirstDataCore.Core/Data/Enum/Rank.cs
Labels: core

Closes #113 Closes #114 - minor roster fixes.
  FiveOhFirstDataCore.Pages/Roster/Placed/PlatoonStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/SquadDisplay.razor
Labels: shared

Added advanced combat engineer. Closes #115
  FiveOhFirstDataCore.Core/Data/Enum/Qualification.cs
Labels: core

Typo in first line of README
  README.md
Labels: none

Fixed bad LINQ-to-Entities requests. Closes #119
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: core

Removed extra remove check that was causing permissions problems. Closes #117
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
Labels: core

Added returning member staff access to new recuirt form. Closes #118
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
  FiveOhFirstDataCore/Pages/Personnel/Returning/ReturningMemberStaffHome.razor
  FiveOhFirstDataCore/Startup.cs
Labels: startup

Updated version data for upcoming release.
  FiveOhFirstDataCore.Core/Migrations/20210726153504_Release-Soyvolon-Version-Zero-Five-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210726153504_Release-Soyvolon-Version-Zero-Five-Zero.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, core

Fixed broken paignation. Closes #122
  FiveOhFirstDataCore.Pages/Data/Logging/UpdateDisplayTable.razor
Labels: shared

Added trooper page links to ORBAT and Zeta ORBAT. Closes #124
  FiveOhFirstDataCore.Core/Components/Base/RosterModel.cs
  FiveOhFirstDataCore.Pages/Roster/OrbatDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/CompanyStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/HailstormDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/MynockDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/MynockSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/PlatoonStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorFlightDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorFlightSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/SquadDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/WardenDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaCompanyStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaSquadDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaUtcSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaUtcSquadDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/ZetaOrbatDisplay.razor
Labels: core, shared

Updated Role name logic. Closes #127
  FiveOhFirstDataCore.Core/Account/Trooper.cs
Labels: core

Updated links to the new dc.501stlegion-a3 link.
  README.md
  docs/README.md
  docs/_coverpage.md
  docs/_sidebar.md
  docs/c1/_sidebar.md
  docs/c1/editing-troopers.md
  docs/register-account.md
  docs/roster.md
Labels: documentation

[skip ci] updated target for PRs
  .github/workflows/label.yml
Labels: none
