Repository 501stLegionA3/FiveOhFirstDataCore, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, startup, core, shared, database

.github/labeler.yml:

documentation:
- docs/**/*

startup:
- FiveOhFirstDataCore/**/*

core:
- FiveOhFirstDataCore.Core/**/*

shared:
- FiveOhFirstDataCore.Pages/**/*

database:
- FiveOhFirstDataCore.Core/Database/**/*

Added roster directories. Closes #178
  FiveOhFirstDataCore/Local/NavMenu.razor
  FiveOhFirstDataCore/Pages/Roster/Directory/CompanyDirectory.razor
  FiveOhFirstDataCore/Pages/Roster/Directory/CompanyDirectory.razor.cs
  FiveOhFirstDataCore/Pages/Roster/Directory/MynockDirectory.razor
  FiveOhFirstDataCore/Pages/Roster/Directory/MynockDirectory.razor.cs
  FiveOhFirstDataCore/Pages/Roster/Directory/PlatoonDirectory.razor
  FiveOhFirstDataCore/Pages/Roster/Directory/PlatoonDirectory.razor.cs
  FiveOhFirstDataCore/Pages/Roster/Directory/RosterDirectoryHome.razor
  FiveOhFirstDataCore/Pages/Roster/Directory/RosterDirectoryHome.razor.cs
  FiveOhFirstDataCore/Pages/Roster/Directory/SquadDirectory.razor
  FiveOhFirstDataCore/Pages/Roster/Directory/SquadDirectory.razor.cs
Labels: startup

Version 0.9.0 release prep
  FiveOhFirstDataCore.Core/Migrations/20210823153224_Release-Soyvolon-Version-Zero-Nine-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210823153224_Release-Soyvolon-Version-Zero-Nine-Zero.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, core

Implement all requests
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: core, shared

Change roster services to return ResultBase
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RoserUpdateService.cs
Labels: core

Change for each loop from using iterator to local variable
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: shared

[skip ci] update PR template to close issiues.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Fixed acklay promotion problems.
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, shared

[skip ci] Fixed version number.
  FiveOhFirstDataCore/appsettings.json
Labels: startup

Properly fixed airborne squad values for promotion boards.
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/RazorPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
Labels: startup, shared

[skip ci] Updated version number.
  FiveOhFirstDataCore/appsettings.json
Labels: startup

[skip ci] updated readme.
  FiveOhFirstDataCore.sln
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
  README.md
Labels: startup

[skip ci] bye bye
  example_website_config.json
Labels: none

Fixed unintentional persistant GUID stroage. Closes #186
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor.cs
Labels: startup

Fixed invalid razor reservers display. Closes #181
  FiveOhFirstDataCore.Core/Account/Trooper.cs
Labels: core

Moved pagination to IReadOnlyList. Closes #183
  FiveOhFirstDataCore.Core/Components/Base/PaginationModel.cs
  FiveOhFirstDataCore.Core/Services/EparService.cs
  FiveOhFirstDataCore.Core/Services/IEparService.cs
  FiveOhFirstDataCore.Core/Services/IUpdateService.cs
  FiveOhFirstDataCore.Core/Services/UpdateService.cs
Labels: core

Fixed permission error in roster edit save changes. Closes #191
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
Labels: startup

Updated migration for latest release.
  FiveOhFirstDataCore.Core/Migrations/20210828183651_Release-Soyvolon-Version-Zero-Ten-Zero.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210828183651_Release-Soyvolon-Version-Zero-Ten-Zero.cs
Labels: core

[skip ci] added more details
  README.md
Labels: none

[skip ci] fixed config error.
  README.md
Labels: none

[skip ci]
  CONTRIBUTING.md
Labels: none

Regored Zeta. Closes #193
  FiveOhFirstDataCore.Core/Data/Roster/Orbat/ZetaCompanyData.cs
  FiveOhFirstDataCore.Core/Data/Roster/Orbat/ZetaSectionData.cs
  FiveOhFirstDataCore.Core/Data/Roster/ZetaOrbatData.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaDisplay.razor
Labels: core, shared

[skip ci] version number update.
  FiveOhFirstDataCore/appsettings.json
Labels: startup

Fixed invalid Zeta values and display.
  FiveOhFirstDataCore.Core/Data/Enum/Slot.cs
  FiveOhFirstDataCore.Core/Data/Roster/Orbat/ZetaCompanyData.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/appsettings.json
Labels: startup, core

#195 Returning Members can't access the New Recruit form
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
Labels: startup

Updated ZetaSquadData to have 11 troopers.
  FiveOhFirstDataCore.Core/Data/Roster/Orbat/ZetaSquadData.cs
Labels: core

Changed label on login page. closes #198
  FiveOhFirstDataCore/Pages/Shared/_Layout.cshtml
Labels: startup

changed DataCore to two words.
  FiveOhFirstDataCore/Pages/Shared/_Layout.cshtml
Labels: startup

Started to work on report pages.
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
Labels: startup

Converted pagination model to include optinal args.
  FiveOhFirstDataCore.Core/Account/Detail/TrooperReport.cs
  FiveOhFirstDataCore.Core/Components/Base/PaginationModel.cs
  FiveOhFirstDataCore.Core/Services/EparService.cs
  FiveOhFirstDataCore.Core/Services/IEparService.cs
  FiveOhFirstDataCore.Core/Services/IReportService.cs
  FiveOhFirstDataCore.Core/Services/IUpdateService.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore.Core/Services/UpdateService.cs
  FiveOhFirstDataCore.Pages/Data/Logging/UpdateDisplayTable.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor.cs
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor.cs
Labels: startup, core, shared

started work on individual displays
  FiveOhFirstDataCore.Core/Services/INotificationService.cs
  FiveOhFirstDataCore.Core/Services/IReportService.cs
  FiveOhFirstDataCore.Core/Services/NotificationService.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore/Local/MainLayout.razor
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor.cs
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core

Fixed merege errors
  FiveOhFirstDataCore.Core/Components/Base/PaginationModel.cs
  FiveOhFirstDataCore/Pages/Personnel/Roster/EparApproval.razor.cs
Labels: startup, core

Added report items.
  FiveOhFirstDataCore.Core/Components/Base/INotificationBase.cs
  FiveOhFirstDataCore.Core/Data/Message/TrooperMessage.cs
  FiveOhFirstDataCore.Core/Services/IMessageService.cs
  FiveOhFirstDataCore.Core/Services/INotificationService.cs
  FiveOhFirstDataCore.Core/Services/IReportService.cs
  FiveOhFirstDataCore.Core/Services/MessageService.cs
  FiveOhFirstDataCore.Core/Services/NotificationService.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor.cs
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor.cs
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor.cs
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor
Labels: startup, core, shared

Started building service methods and fleshing out dispaly.
  FiveOhFirstDataCore.Core/Account/Detail/TrooperReport.cs
  FiveOhFirstDataCore.Core/Migrations/20210829195310_Dev-Soyvolon-Reports.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210829195310_Dev-Soyvolon-Reports.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/IReportService.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor.cs
  FiveOhFirstDataCore/_Imports.razor
Labels: startup, core

Updated notification tracking and setup report messages system.
  FiveOhFirstDataCore.Core/Account/Detail/TrooperReport.cs
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Data/Message/TrooperMessage.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210829232433_Dev-Soyvolon-Reports.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210829232433_Dev-Soyvolon-Reports.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/Local/MainLayout.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor.cs
Labels: startup, core, database

Started putting in framework for viewing reports.
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore.Pages/Misc/ErrorSuccessNotice.razor
  FiveOhFirstDataCore.Pages/Misc/ErrorSuccessNotice.razor.cs
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor.cs
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core, shared

More service building for framework development.
  FiveOhFirstDataCore.Core/Components/Base/INotificationBase.cs
  FiveOhFirstDataCore.Core/Extensions/ObjectArrayExtensions.cs
  FiveOhFirstDataCore.Core/Services/IMessageService.cs
  FiveOhFirstDataCore.Core/Services/INotificationService.cs
  FiveOhFirstDataCore.Core/Services/MessageService.cs
  FiveOhFirstDataCore.Core/Services/NotificationService.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor.cs
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor.cs
  FiveOhFirstDataCore/Startup.cs
Labels: startup, core, shared

Basic view of trooper reports is completed.
  FiveOhFirstDataCore.Core/Services/MessageService.cs
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor
  FiveOhFirstDataCore.Pages/Message/TrooperMessageBoard.razor.cs
  FiveOhFirstDataCore.Pages/_Imports.razor
  FiveOhFirstDataCore/Pages/Utility/ReportDetails.razor
  FiveOhFirstDataCore/_Imports.razor
Labels: startup, core, shared

More work into reports.
  FiveOhFirstDataCore.Core/Account/Detail/TrooperReport.cs
  FiveOhFirstDataCore.Core/Components/Base/PaginationModel.cs
  FiveOhFirstDataCore.Core/Services/EparService.cs
  FiveOhFirstDataCore.Core/Services/IEparService.cs
  FiveOhFirstDataCore.Core/Services/INotificationService.cs
  FiveOhFirstDataCore.Core/Services/IReportService.cs
  FiveOhFirstDataCore.Core/Services/IUpdateService.cs
  FiveOhFirstDataCore.Core/Services/NotificationService.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore.Core/Services/UpdateService.cs
  FiveOhFirstDataCore.Core/Structures/Notification/NotificationTrackerBase.cs
  FiveOhFirstDataCore/Pages/Personnel/Roster/RosterClerkHome.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor.cs
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor
Labels: startup, core

More code updates.
  FiveOhFirstDataCore.Core/Account/Detail/TrooperReport.cs
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/20210828190043_Dev-Soyvolon-Reports.Designer.cs
  FiveOhFirstDataCore.Core/Migrations/20210828190043_Dev-Soyvolon-Reports.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore.Core/Structures/Notification/NotificationTrackerBase.cs
  FiveOhFirstDataCore.Core/Structures/Notification/ReportNotificationTracker.cs
Labels: core, database

Added report work
  FiveOhFirstDataCore.Core/Account/Detail/TrooperReport.cs
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Services/ReportService.cs
  FiveOhFirstDataCore/Pages/Utility/ReportViewer.razor.cs
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor
  FiveOhFirstDataCore/Pages/Utility/TrooperReportPage.razor.cs
Labels: startup, core
