Repository 501stLegionA3/FiveOhFirstDataCore, pull requests merged in 2021-09, with the labels that each got.

#196 #195 Returning Members can't access the New Recruit form
  FiveOhFirstDataCore/Pages/Personnel/Recruiter/AccountCreation.razor
Labels: startup

#199 Changed label on login page. closes #198
  FiveOhFirstDataCore/Pages/Shared/_Layout.cshtml
Labels: startup

#205 Roster display refactor
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Pages/Roster/Placed/CompanyStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/HailstormDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/MynockDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/MynockSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/PlatoonStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorFlightDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/RazorFlightSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/SquadDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Placed/WardenDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaCompanyStaff.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaSquadDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaUtcSectionDisplay.razor
  FiveOhFirstDataCore.Pages/Roster/Zeta/ZetaUtcSquadDisplay.razor
Labels: core, shared

#212 General improvements
  FiveOhFirstDataCore.Core/Services/INoticeService.cs
  FiveOhFirstDataCore.Core/Services/NoticeService.cs
  FiveOhFirstDataCore.Pages/Notice/NoticeBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
Labels: core, pages

#213 fixed pending promotions being filtered out of Eligible promotions
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
Labels: core, pages

#220 Fix bugs
  FiveOhFirstDataCore.Core/Services/InitalAccountPopulationService.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: core, pages

#218 Version Twelve fixes
  FiveOhFirstDataCore.Core/Account/Trooper.cs
  FiveOhFirstDataCore.Core/Services/InitalAccountPopulationService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterUpdateService.cs
  FiveOhFirstDataCore.Core/_Imports.cs
  FiveOhFirstDataCore.Pages/_Imports.cs
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
  FiveOhFirstDataCore/Pages/Roster/Directory/MynockDirectory.razor
  FiveOhFirstDataCore/Startup.cs
  FiveOhFirstDataCore/_Imports.cs
Labels: core, pages, startup

#222 Revert dependency
  FiveOhFirstDataCore.Core/FiveOhFirstDataCore.Core.csproj
  FiveOhFirstDataCore.Pages/FiveOhFirstDataCore.Pages.csproj
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
Labels: core, pages, startup

#228 Index.razor Gust/User #227
  FiveOhFirstDataCore/Pages/Index.razor
  FiveOhFirstDataCore/Pages/Index.razor.cs
Labels: startup

#229 Make edit trooper load claims tree when directly going to edit page
  FiveOhFirstDataCore/Pages/Personnel/Roster/EditTrooper.razor
Labels: startup

#232 Register bugfix
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore/Areas/Identity/Pages/Account/Register.cshtml.cs
  FiveOhFirstDataCore/appsettings.json
Labels: data, startup

#233 Trooper page redesign
  FiveOhFirstDataCore.Core/Services/IRosterService.cs
  FiveOhFirstDataCore.Core/Services/RosterService.cs
  FiveOhFirstDataCore.Core/Structures/Enum/Role.cs
  FiveOhFirstDataCore.Core/Structures/Enum/Slot.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.cs
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.css
  FiveOhFirstDataCore.Pages/FiveOhFirstDataCore.Components.csproj
Labels: data, components

#237 IsAcceptable
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor
  FiveOhFirstDataCore/Pages/Manager/ManagerSettings.razor.cs
Labels: startup

#246 Change display value for quals in PublicTrooperProfile
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor
Labels: components

#248 Reversed TiG and TiS, Fixes #247
  FiveOhFirstDataCore.Pages/Data/PublicTrooperProfile.razor.cs
Labels: components
