Repository 501stLegionA3/FiveOhFirstDataCore, pull requests merged in 2021-10, with the labels that each got.

#258 Discord perms
  FiveOhFirstDataCore.Core/Components/InputUlong.cs
  FiveOhFirstDataCore.Core/Database/ApplicationDbContext.cs
  FiveOhFirstDataCore.Core/Migrations/ApplicationDbContextModelSnapshot.cs
  FiveOhFirstDataCore.Core/Services/DiscordService.cs
  FiveOhFirstDataCore.Core/Services/IDiscordService.cs
  FiveOhFirstDataCore.Core/Services/IWebsiteSettingsService.cs
  FiveOhFirstDataCore.Core/Services/WebsiteSettingsService.cs
  FiveOhFirstDataCore.Pages/Data/Settings/RoleBindingSettingDisplay.razor
  FiveOhFirstDataCore.Pages/Data/Settings/RoleBindingSettingDisplay.razor.cs
  FiveOhFirstDataCore.Pages/Misc/StaticDiscordRoleInputList.razor
  FiveOhFirstDataCore.Pages/Misc/StaticDiscordRoleInputList.razor.cs
Labels: data, components, database

#265 Make trooper display page re-fetch data when the id changes
  FiveOhFirstDataCore/Pages/Roster/TrooperDisplayPage.razor
Labels: startup

#267 Fix warden superior
  FiveOhFirstDataCore.Core/Services/RosterService.cs
Labels: data
