Repository 501stLegionA3/FiveOhFirstDataCore, pull requests merged in 2021-08, with the labels that each got.

#144 Add Acklay 1-3. Closes #139
  FiveOhFirstDataCore.Core/Data/Roster/OrbatData.cs
Labels: core

#145 Add Big Brother to CShops. Closes #142
  FiveOhFirstDataCore.Core/Data/Enum/CShop.cs
Labels: core

#147 Add all rank options to the rank filtering.
  FiveOhFirstDataCore.Core/Structures/RosterSearch.cs
  FiveOhFirstDataCore.Pages/Roster/RosterListing.razor
Labels: core, shared

#155 Fix Razor pilot requiring a team.
  FiveOhFirstDataCore.Core/Data/Roster/Orbat/RazorFlightData.cs
Labels: core

#167 Spelling Correction
  FiveOhFirstDataCore.Pages/Roster/Placed/HailstormDisplay.razor
Labels: shared

#188 Properly fixed airborne squad values for promotion boards.
  FiveOhFirstDataCore.Pages/Promotions/BattallionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/CompanyPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/EligibleForPromotionListing.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockCommandPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/MynockSectionPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/PendingPromotionsListing.razor
  FiveOhFirstDataCore.Pages/Promotions/PlatoonPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/RazorPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/SquadPromotionBoard.razor
  FiveOhFirstDataCore.Pages/Promotions/WardenPromotionBoard.razor
  FiveOhFirstDataCore/Pages/Roster/SquadHome.razor
  FiveOhFirstDataCore/appsettings.json
Labels: shared, startup

#189 Updated readme
  FiveOhFirstDataCore.sln
  FiveOhFirstDataCore/FiveOhFirstDataCore.csproj
  README.md
Labels: startup
